.Head{
    height: 15vh;
    width: 100%;
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.inner{
    height: 90%;
    width: 99%;
    /* background: #000; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 79%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background: yellow; */

    & header {
        color: red;
        font-size: 30px;
    }

    & span {
        color: black;
        font-size: 15px;
    }
}

.home{
    height: 70%;
    width: 44%;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: space-around;

    & h2 {
        font-size: 18px;
    }
}

.user{
    height: 70%;
    width: 19%;
    /* background: purple; */
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    & h1 {
        font-size: 16px;
    }
}