.wrrap{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #000; */
    gap: 20px;
    border-bottom: 10px solid pink;

}

.Bodywrap{
    height: 80%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: red; */
    border-radius: 40px;
    background-repeat: no-repeat;
    object-fit: cover;

    & img {
        height: 80%;
        width: 95%;
        border-radius: 50px;
    }
}

.Bodywrap img:hover{
    transform: scale(o.9);
    cursor: pointer;
}

.Bodywrap1{
    height: 80%;
    width: 30%;
    /* background: yellow; */
    align-items: center;
    display: flex;
    justify-content: center;
    object-fit: cover;
    background-repeat: no-repeat;
    /* background-image: url(../../assets/perf4.jpg); */
    border-radius: 40px;


& img {
        height: 80%;
        width: 95%;
        border-radius: 50px;
    }
}

.Bodywrap1 img:hover{
    transform: scale(o.9);
    cursor: pointer;
    background-color: red;
}


.Bodywrap2{
    height: 80%;
    width: 30%;
    /* background: green; */
    border-radius: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    object-fit: cover;
    background-repeat: no-repeat;
    /* background-image:url(../../assets/perf3.jpg) ; */
    border-radius: 40px;


    & img {
        height: 80%;
        width: 95%;
        border-radius: 50px;
    }

}

.Bodywrap3{
    height: 80%;
    width: 30%;
    /* background: red; */
    border-radius: 40px;
    /* background-image: url(../../assets/perf2.jpg); */
    align-items: center;
    display: flex;
    justify-content: center;
    object-fit: cover;
    background-repeat: no-repeat;

    & img {
        height: 80%;
        width: 95%;
        border-radius: 50px;
    }


}